<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>《大圣归来棒指灵霄》官方网站-新国风正版授权动作手游</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta name="keywords" content="大圣归来,西游记之大圣归来,大圣归来手游,西游记之大圣归来手游,大圣归来手游官网,大圣归来棒指灵霄,大圣归来棒指灵霄官网，大圣归来礼包，大圣归来预约，悟空传,悟空传手游,西游,大圣,孙悟空,江流儿">
  <meta name="description" content="《大圣归来棒指灵霄》是《大圣归来》动画电影正版授权改编的MMORPG手游，讲述了主角与少年唐僧、齐天大圣孙悟空等人结伴同行中发生的一连串精彩故事!战斗系统、打造系统、帮派系统等特色系统给玩家带来无穷的探索感，更有酷炫的“转职”玩法等你探索！三大职业，十二种玩法，绝对能让你体验全新的西游世界！">
  <script src="lib/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/list.css">
  <script src="js/common.js?v=20180118"></script>
  <script type="text/javascript" src="//page.hulai.com/static/open/js/hulai-activity-0.0.1.js?v=20180118"></script>
  <script type="text/javascript" src="//page.hulai.com/static/open/js/isMobile.min.js?v=20180118"></script>
  <script type="text/javascript" src="//page.hulai.com/static/open/js/vue-2.1.8.min.js"></script>
  <script type="text/javascript" src="//page.hulai.com/static/open/js/hulai-cms-0.0.1.js?v=20180118"></script>
  <script type="text/javascript" src="components/index.js"></script>
</head>
<body>
  <div id="app">
    <hulai-seheader></hulai-seheader>
    <div class="mid">
      <ul class="mid_left">
        <li><a href="javascript:void(0)"><img src="img/download.png" alt=""></a></li>
        <li><a href="javascript:void(0)"><img src="img/erweima.png" alt="" style="width:180px;"></a></li>
        <li><a href="javascript:void(0)"><img src="img/and.png" alt=""></a></li>
        <li><a href="javascript:void(0)"><img src="img/ios.png" alt=""></a></li>
      </ul>
      <div class="mid_right">
        <div class="nav_title">
            <p class="big_title">新闻中心</p>
            <ul class="right_title">
              <li @click="goGetList('最新',1,11)" :class="{'select':isChecked == 1}">最新</li>
              <li @click="goGetList('新闻',1,11)" :class="{'select':isChecked == 2}">新闻</li>
              <li @click="goGetList('公告',1,11)" :class="{'select':isChecked == 3}">公告</li>
              <li @click="goGetList('攻略',1,11)" :class="{'select':isChecked == 4}">攻略</li>
            </ul>
        </div>

        <ul class="list_message">
          <li v-for="item in listData" class="line">
            <span class="left_classify fl"><span>[</span>{{listName}}<span></span>]</span></span>
            <span style="margin-left:15px;width: 610px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
              <a :href="item.hrefVal" style="color:black;text-decoration: none;">{{item.title}}</a>
            </span>
            <span class="fr" style="margin-right:10px;float:right">{{item.updated}}</span>
          </li>
        </ul>

        <ul class="page" v-show="more1">
          <li v-if="cur>1"><a v-on:click="cur--,btnClick(cur)">上一页</a></li>
          <li v-if="cur==1"><a class="banclick">上一页</a></li>
          <li v-for="index in indexs"  v-bind:class="{ 'active': cur == index }">
            <a v-on:click="btnClick(index)">{{ index }}</a>
          </li>
          <li v-if="cur!=all"><a v-on:click="cur++,btnClick(cur)">下一页</a></li>
          <li v-if="cur == all"><a class="banclick">下一页</a></li>
        </ul>
      </div>
    </div>
    <hulai-footer></hulai-footer>
  </div>

  <script type="text/javascript" src="js/list_ctrl.js?v=20180118"></script>
  <script type="text/javascript" src="js/animate.js?v=20180118"></script>
</body>
</html>