*{
  margin:0px;
  padding: 0px;
}
a {
  color:black;
}
header {
  background: url("../img/bg.jpg") no-repeat center top;
  height: 959px;
  width: 100%;
  position: relative;
}
.head{
  width: 100%;
  background-color:rgba(254,254,254,0.7);
  height: 100px;
}
.nav {
  width: 1020px;
  list-style: none;
  margin:0px auto;
}
.nav li {
  float: left;
  margin-left: 7%;
  padding: 10px 7px 0px 7px;
  // padding-top:10px;
  height: 72px;
  cursor: pointer;
  font-size: 20px;
}
.small {
  font-size: 12px;
  text-align: center;
}
.linehight {
  margin-top:16px;
}
.linehight:hover {
  color:red;
  border-bottom:2px solid red;
  background-image:-webkit-linear-gradient(  
    to bottom,
    rgba(168,48,54,0) 0%,      
    rgba(168,48,54,0) 70%,   
    rgba(168,48,54,0.1) 75%,   
    rgba(168,48,54,0.2) 100%);  
  background-image: linear-gradient(  
    to bottom,
    rgba(168,48,54,0) 0%,      
    rgba(168,48,54,0) 70%,   
    rgba(168,48,54,0.1) 75%,   
    rgba(168,48,54,0.2) 100%);  
}
.zixun {
  margin-bottom: 10px;
  background-color: rgba(254,254,254,0.7);
  height: 73px;
  width: 130%;
  text-align: center;
  position: relative;
  top: 42px;
  right: 11px;
  border-radius: 0px 0px 10px 10px;
  display: none;
}
.zixun a {
  display: block;
  text-decoration: none;
  color: black;
  padding-top: 5px;
}
.head_bottom {
  height: 260px;
  width: 100%;
  background-color: rgba(254,254,254,0.7);
  text-align: center;
  display: none;
  position: absolute;
}
.head_bottom img {
  padding-top: 28px;
}
.video {
  position: relative;
  display: block;
  top: 448px;
  margin: 0px auto;
  width: 792px;
}
.downloadBg {
  width: 684px;
  margin:0px auto;
  margin-top: 588px;
}
.smallbg {
  width: 410px;
  height: 135px;
  background:url(../img/downloadBg.png) no-repeat top center;
  display: flex;
}
.flex {
  flex: 1px;
}
.erweima {
  padding:10px;
}
.downmid {
  margin-top: 10px;
}
.downright {
  padding: 10px 0px 0px 5px;
}

.banner {
  background: url("../img/banner_bg.jpg") no-repeat center top;
  height: 519px;
  width: 100%;
}
.container {
  width: 1000px;
  height: 512px;
  margin:0px auto;
  // background: #f8fafc;
}
.container_top {
  height: 300px;
}
.container_left {
  float: left;
  width: 497px;
  height: 282px;
  padding-bottom: 10px;
  background-color:rgba(254,254,254,0.7);
}
.portal_title {
  font-size: 16px;
  // padding-left: 10px;
  position: absolute;
  top: 257px;
  left: 14px;
}
.container_right {
  float: right;
  width: 497px;
  height: 292px;
  // adding-bottom: 10px;
  background-color:rgba(254,254,254,0.7);
}
.title_nav {
  list-style: none;
  width: 480px;
  margin: 0px auto;
  height: 35px;
  border-bottom: 2px solid #bc1b17;
  line-height: 35px;
  cursor: pointer
}
.sanjiao {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #bc1b17;
  margin:0px auto;
}
.title_nav li {
  float: left;
  padding-left: 25px;
  font-size: 16px;
}
.content {
  list-style: none;
  margin-top: 10px;
}
.w400 {
  display: inline-block;
  width: 312px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
}
.fr_dis {
  float: right;
  display: inline-block;
}
.list_all {
  margin: 0px 15px;
  margin-top: 8px;
  height: 20px;

}
.list_all a {
  color: black;
}
.words {
  height: 26px;
  color: #bc1b17;
}
.wordhight{
  height: 26px;
}
.more {
  display: inline-block;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
}

.container_bottom {
  width: 1000px;
  height: 200px;
  background-color:rgba(254,254,254,0.7);
}
.container_prev {
  float: left;
  padding:10px;
}
.container_next {
  float: right;
  width: 856px;
  height: 200px;
}
.next_top {
  border-bottom: 2px solid #bc1b17;
  list-style: none;
  height: 42px;
  line-height: 28px;
  font-size: 16px;
  cursor: pointer;
}
.next_top li {
  float: left;
  margin-left: 40px;
  margin-top: 8px;
  padding: 0px 12px 0px 12px;
}
.cur {
  color: white;
  background: #bc1b17;
  height: 28px;
  padding: 0px 17px;
  border-radius: 30px;
}
.substance {
  list-style: none;
  margin-top: 20px;
  width: 800px;
}
.ziliao_list_all {
  float: left;
  padding-left: 36px;
  padding-top: 20px
}
.ziliao_list_all a {
  color: black;
  text-decoration: none;
}


.mid {
  background: url("../img/mid_bg.jpg") no-repeat center top;
  height: 481px;
  width: 100%;
  overflow: hidden;
}
.portal { 
  width: 1004px;
  margin: 0 auto;
  position: relative;
  margin-top: 52px;
}
.basement {
  display: none;
}
.listen {
  height: 481px;
  width: 100%;
  overflow: hidden;
  background: #bc2522;
  position: absolute;
  top: 1477px;
  z-index: 99;
}
.cross {
  position: absolute;
  right: 236px;
  top: 1417px;
}
.ey_w{
  width: 1000px;
  height: 350px;
  overflow: hidden;
  position: relative;
  margin: 0px auto;
  margin-top: 50px;
}
.ey_ul{
  width: 4660px;
  position: absolute;
  list-style: none;
}
.ey_ul li{
  float: left;
}
.next {
  position: absolute;
  width: 70px;
  height: 132px;
  top: 116px;
  right: 0;
  background: blue;
  cursor: pointer;
  background: url("../img/R.png") no-repeat top center;
}
.prev {
  position: absolute;
  width: 70px;
  height: 132px;
  top: 116px;
  left: 0;
  background: blue;
  cursor: pointer;
  background: url("../img/L.png") no-repeat top center;
}
.basement_two {
  display: none;
}
.libaoma {
  height: 481px;
  width: 100%;
  overflow: hidden;
  background: #bc2522;
  position: absolute;
  top: 1477px;
  z-index: 99;
}
.libaoma_content {
  width: 1000px;
  height: 480px;
  overflow: hidden;
  position: relative;
  margin: 0px auto;
  margin-top: -17px;
  background: url("../img/zhuangtaima.png") no-repeat top center;
}
.libaoma_button {
  margin: 0px auto;
  margin-top: 140px;
  text-align: center;
  width: 770px;
}
.ma {
  font-size: 30px;
  border: 2px solid white;
  padding:5px;
  color: white;
  float: left;
}
.txt1 {
  width: 460px;
  height: 52px;
  float: left;
  border: 2px solid white;
  background:#bc2522;
  outline:none;
  font-size: 30px;
  text-align: center;
  color: white; 
}
.copy {
  width: 160px;
  height: 56px;
  line-height: 56px;
  font-size: 30px;
  background: white;
  color: #bc2522;
  display: inline-block;
  float: left;
  text-align: center;
  margin-left: 24px;
  cursor: pointer;
}

.last {
  background: url("../img/last_bg.jpg") no-repeat center top;
  height: 534px;
  width: 100%;
  overflow: hidden;
}
/*百叶窗*/
.dtp li{
  float: right;
  list-style: none;
  overflow: hidden;
  margin-left: 10px;
}

.footer {
  color: #696969;
  text-align: center;
  padding:32px 0px 32px 0px;
  // margin-top: 640px;
  background: #1d1e22;
}
.footer a {
  color: #696969;
  text-decoration: none;
}

#cover{
  position: fixed;
  z-index: 99;
  top: 0px;
  left: 0px;
  // display: none;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000;
}
.video_player {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -320px;
  margin-left: -280px;
  z-index: 999;
}
.video_close {
  position: absolute;
  left: 610px;
  top: 10px;
  cursor: pointer;
  z-index: 103;
}



