<div>
  <header>
    <div class="head">
      <ul class="nav">
        <li><img src="img/logo.png" alt=""></li>
        <a href="index.html">
          <li class="linehight">
            <p>官方首页</p>
            <p class="small">HOME</p>
          </li>
        </a>
        <a href="pclist.html?type=zuixin">
          <li class="linehight">
            <p>新闻资讯</p>
            <p class="small">NEWS</p>
          </li>
        </a>
        <a href="gameraider.html">
          <li class="linehight gonglv">
            <p>游戏资料</p>
            <p class="small">RAIDERS</p>
          </li>
        </a>
        <li class="linehight contact_us">
          <p>联系我们</p>
          <p class="small">CONTACT</p>
        </li>
      </ul> 
    </div>
    <div class="head_bottom">
      <img src="img/contact.png" alt="">
    </div>
  </header>
</div>